$cellsize: 80px;

body {
    display: flex;
    justify-content: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    & #game {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        & > div {
            width: $cellsize;
            height: $cellsize;
            border: 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            & span {
                font-size: 80px;
            }
        }
    }
}